<html>
  <head>
    <meta name="author" content="SEND - Servizio Notifiche Digitali" />
    <link rel="stylesheet" href="../../styles/index.css">
  </head>
  <body>
    <div class="container">
      <div id="header" class="row">
        <div class="left-col">
          <img
            src="../../images/pn-logo-header.png"
            style="width: 126px; height: 35px"
          />
        </div>
        <div class="right-col">
          <img
            src="../../images/send-logo.png"
            style="width: 81px; height: 26.24px"
          />
        </div>
      </div>
      <!-- Se il footer viene messo in fondo al documento compare solo nell'ultima pagina -->
      <div id="footer" class="row">
        <div class="left-col">
          <p>PagoPA S.p.A.</p>
          <p>società per azioni con socio unico</p>
          <p>capitale sociale di euro 1,000,000 interamente versato</p>
          <p>sede legale in Roma, Piazza Colonna 370, CAP 00187</p>
          <p>
            n. di iscrizione a Registro Imprese di Roma, CF e P.IVA 15376371009
          </p>
        </div>
        <div class="right-col">
          <img src="../../images/pn-logo-footer.png" />
        </div>
      </div>

      <h3 class="document-type mb-0" data-hide-on-it="true"><%=subject%></h3>
      <h3 class="document-type"><%=it_subject%></h3>

      <p class="paragraph mb-0" data-hide-on-it="true"><%-body1%></p>
      <p class="paragraph"><%-it_body1%></p>

      <#list notification.recipients as recipient>
        <div class="margin-y-small">
          <div class="row">
              <div class="left-col col-5-10">
                <p><span data-hide-on-it="true"><%-denomination%> &bull; </span><%-it_denomination%></p>
              </div>
              <div class="left-col col-5-10">
                  <p><strong>${recipient.denomination}</strong></p>
              </div>
          </div>

          <div class="row">
              <div class="left-col col-5-10">
                <p><span data-hide-on-it="true"><%-fiscalcode%> &bull; </span><%-it_fiscalcode%></p>
              </div>
              <div class="left-col col-5-10">
                  <p><strong>${recipient.taxId}</strong></p>
              </div>
          </div>
        </div>
      </#list>

      <p class="paragraph my-8" data-hide-on-it="true"><%-body2%></p>
      <p class="paragraph my-8"><%-it_body2%></p>

      <p class="paragraph mb-0" data-hide-on-it="true">
        <%-disclaimer1%>
        <span data-hide-on-it="true">
          <br />
          <%-disclaimer2%>
        </span>
      </p>

      <p class="paragraph">
        <%-it_disclaimer1%>
        <span>
          <br />
          <%-it_disclaimer2%>
        </span>
      </p>


      <div class="py-16">
          <p class="right"><span data-hide-on-it="true"><%=signature%> &bull; </span><%=it_signature%></p>
      </div>

      <div class="row">
        <div class="left-col col-4-10">
            <p>&nbsp;</p>
        </div>
        <div class="left-col col-6-10">
            <p class="py-16" data-hide-on-it="true"><%=disclaimer_lang%></p>
            <p data-hide-on-it="true"><%=it_disclaimer_lang%></p>
        </div>
      </div>
    </div>
  </body>
</html>
